/*__________default/mobile styles____________________________*/


/*todo [] actually choose fonts instead of using defaults___________*/

body {
	font-size: 1em;
	color: black;
	background-color: lightgray;
	width: 100%;
	padding 70px;
	font-family: Gentium book basic;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: grey;
}


/*note [] nav on mobile is too tall; Maybe title and below nav stays horizontal?*/


/*fixme [] on mobile, sections rise up behind nav bar */


/*
#navbar {
	background-color: rgba(62, 85, 106, 1);
	position: fixed;
	width: 100%;
	top: 0px;
	border-bottom: 4px solid #4B8F9F;
	z-index: 99;
}
*/


/*
nav ul {
	display: flex;
	flex-direction: column;
	align-items: center;
}

nav li {
	flex: 0 0 auto;
}

.navElement {
	font-size: 1em;
		margin-bottom: .5rem;
}

nav li:first-child {
	font-size: 2em;
}
*/

.navbar-brand {
	font-size: 3rem;
}

.navbar-collapse a {
	font-size: 2rem;
}


/*________________welcome section___________________________*/

.welcome {
	/* note keep this height for FCC tests */
	height: 100vh;
	width: 100%;
	background-image: url("../img/SeattleSkylineMobile.png");
	background-size: cover;
}

.welcome h1 {
	position: relative;
	display: inline;
	font-size: 3em;
	top: 400px;
	left: 10px;
	color: white;
}

.welcome p {
	position: relative;
	display: inline;
	top: 390px;
	left: 10px;
	font-size: 1em;
	color: white;
}


/*_________________________about section_________________*/

.about {
	height: 100vh;
	width: 100%;
	clear: both;
	padding-top: 120px;
}

.about img {
	display: block;
	border-radius: 50%;
	border: 10px solid #4B8F9F;
	margin-top: 5vh;
	margin-left: auto;
	margin-right: auto;
}

.about p {
	font-size: 1em;
	float: right;
	line-height: 1.5rem;
	margin-top: 25px;
	text-align: center;
}


/*________________________projects section_____________*/

.projects {
	padding-top: 150px;
	width: 100%;
	/*	height: auto;*/
	display: block;
}

.projects h1 {
	font-size: 3rem;
	margin-left: 50px;
	margin-bottom: 50px;
}


/* .thumbnail h4 {
	padding-left: 25px;
} */

.thumbnail img {
	width: 100%;
	border: 1px solid black;
}


/*
.thumbnail {
	opacity: .5;
	transition: opacity .2 ease-in-out;
}

.thumbnail:hover {
	opacity: 1;
}
*/


/*__________________-contact section____________________________*/

.contact {
	position: relative;
	background-image: url("../img/PikePlaceMobileBlur.png");
	background-size: cover;
	height: 700px;
	width: 100%;
	margin-top: 100px;
	padding-top: 80px;
}

.contact h2 {
	text-align: center;
	font-size: 3em;
	margin-top: 150px;
	color: white;
}

.contact p {
	text-align: center;
	color: white;
	font-size: 2em;
	margin-top: 50px;
}

.contact a {
	color: lightgray;
}

.contact a:hover {
	color: white;
}

.contact span {
	/* font awesome icons go in this span*/
	margin-right: 25px;
}


/*________________________tablet styles____________________*/

@media only screen and (min-width: 700px) {
	/*
	#navbar {
		background-color: rgba(62, 85, 106, 0.5);
	}
	nav ul {
		display: flex;
		flex-direction: row;
		align-items: baseline;
	}
	nav li:nth-child(1) {
		margin-right: auto;
	}
	.navElement {
		font-size: 1.5em;
		margin-left: 25px;
	}
	.navElement:last-child {
		margin-right: 50px;
	}
	nav li:first-child {
		font-size: 3em;
	}
*/
	.welcome h1 {
		font-size: 6em;
		left: 100px;
	}
	.welcome p {
		display: inline;
		top: 400px;
		left: 100px;
		font-size: 2em;
	}
	.about p {
		font-size: 2em;
		line-height: 2rem;
		text-align: center;
		/*		margin-top: 37vh;*/
	}
}


/*______________________desktop styles__________________*/

@media only screen and (min-width: 1025px) {
	/*
	#navbar {
		background-color: rgba(62, 85, 106, 0.5);
	}
	*/
	/*
	.navbar-brand {
		font-size: 3rem;
	}
	
	.navbar-collapse a {
		font-size: 2rem;
		border-left: 1px solid gray;
		border-right: 1px solid gray;
	}
*/
	/*
	
	nav ul {
		display: flex;
		flex-direction: row;
		align-items: baseline;
	}
	
	nav li:nth-child(1) {
		margin-right: auto;
	}
	
	.navElement {
		font-size: 2em;
		margin-left: 50px;
	}
	
	.navElement:last-child {
		margin-right: 50px;
	}
	
	nav li:first-child {
		font-size: 5em;
	}
*/
	.welcome {
		/* note keep this height for FCC tests */
		height: 100vh;
		background-image: url("../img/SeattleSkylineSmall.png");
		background-size: cover;
	}
	.welcome h1 {
		font-size: 10em;
		left: 100px;
	}
	.welcome p {
		display: inline;
		top: 420px;
		left: 100px;
		font-size: 2em;
	}
	.about img {
		display: inline;
		margin-top: 30vh;
		margin-left: 50px;
		width: 225px;
	}
	.about p {
		font-size: 2em;
		line-height: 2rem;
		text-align: left;
		margin-top: 37vh;
	}
	.projects h1 {
		font-size: 5rem;
	}
	.project {
		/* project container */
		column-count: 3;
	}
	.project-tile img {
		opacity: .7;
		transition: opacity .5s ease;
	}
	.project-tile img:hover {
		opacity: 1;
	}
	.contact {
		background-image: url("../img/PikePlaceSmallBlur.png");
	}
	.contact h2 {
		font-size: 5em;
	}
	.contact p {
		font-size: 3em;
	}
}
