/*Variables*/

:root {
	--color1: #000000;
	/*  var(--color1);  black */
	--color2: #ecf0f5;
	/*  var(--color2);  Light blue */
	--color3: #317db1;
	/*  var(--color3);  Medium blue*/
	--color4: #ffffff;
	/*  var(--color4);  White */
	--color5: #d83b00;
	/*  var(--color5);  base orange(accent)*/
	--color6: #121634;
	/* var(--color6);   Darkest blue*/
}


/*page elements*/

body {
	background-color: var(--color2);
}

H1 {
	color: var(--color6);
}

h2 {
	color: var(--color6);
	margin-left: 25px;
}

p {
	color: var(--color6);
}

a {
	color: var(--color6);
	transition: all .5s ease;
}

a:visited {
	color: var(--color6);
}

a:hover {
	color: var(--color3);
}

header {
	background-color: var(--color3);
	height: auto;
	position: fixed;
	z-index: 1;
	width: 100%;
	top: 0px;
	margin-top: -20px;
	margin-bottom: 200px;
	padding: 10px 0px 10px 0px;
	box-shadow: 0px 0px 0px;
	transition: box-shadow .5s ease;
}

header:hover {
	box-shadow: 10px 5px 15px var(--color6);
	transition: all .5s ease;
}

header h1 {
	color: var(--color4);
	margin: 20px, auto;
	transition: all .5s ease-in-out;
}

header:hover h1 {
	transform: translate3d(0px, 3px, 0px);
}

header .fa {
	transition: transform .5s ease;
}

header:hover .fa {
	transform: rotate(90deg);
}

nav {
	margin-top: 25px;
}

nav a {
	margin-left: 25px;
}

#nav1 a {
	color: var(--color4);
}

main {
	margin-top: 150px;
	margin-bottom: 200px;
	/*	background-color: var(--color3);*/
}

footer {
	position: fixed;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	background-color: var(--color3);
	text-align: center;
	box-shadow: 0px -5px 10px -5px var(--color1);
}

footer p {
	font-size: 2rem;
	color: var(--color6);
}

footer p .fa {
	color: var(--color6);
	margin-left: 25px;
	text-align: center;
	margin-top: 10px;
}

footer p .fa:hover {
	color: var(--color2);
}


/*classes*/

.article {
	width: 40%;
}

.lowerAnchorIcon {
	margin-top: 20px;
}

.center {
	text-align: center;
}

.about {
	padding: 0px;
	padding-top: 100px;
	margin: 0px auto;
	margin-left: 25px;
	top: 0px;
}

.about p {
	margin-left: 75px;
	font-size: 2.5rem;
	font-family: 'Gentium Book Basic', serif;
	color: var(--color6);
}

.marge {
	margin-left: 75px;
	padding-bottom: 100px;
}

.marge .fa {
	color: var(--color6);
	transition: all .5s ease;
}

.marge h3:hover .fa {
	color: var(--color3);
	font-size: 2.5rem;
	transform: rotate(90deg);
}

.marge a::before {
	content: "F.C.C. ";
}

.fa {
	color: var(--color2);
}

.bioImage {
	vertical-align: middle;
	border-color: var(--color-primary-3);
	border-style: solid;
	border-radius: 50%;
	border-width: 4px;
	max-width: 250px;
	margin-top: -75px;
}


/*.fa:hover{
  transform: rotate(360deg);
}*/

.fRight {
	float: right;
	margin-right: 25px;
}

.fLeft {
	float: left;
}


/*ID'S'*/

#portfolio {
	margin-top: 200px;
}

#psc {
	margin-bottom: 100px;
	padding-bottom: 0px;
}

.marge a.unFcc::before {
	content: "";
}


/*
#main {
	background-color: var(--color3);
	background: linear-gradient(to bottom, var(--color3), var(--color3)60%, var(--color2))
}*/